html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
}

.pokemonCard {
  transition: box-shadow 1s ease;
}

.pokemonCard:after {
  transition: all 1s ease;
}

.pokemonCard:before {
  animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 0% 0%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.40) contrast(1.20);
    transition: all 1s ease-in-out;
}
  
.pokemonCard:hover{
  /*Add translation upwards to make card pop out of screen  */
  box-shadow: 
      /* -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2),  */
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  .pokemonCard:before,
  .pokemonCard:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all 1s ease;
  }
  
  
  .pokemonCard:after {
    /* opacity: 1; */
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
      url(https://assets.codepen.io/13471/holo.png), 
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1.5) contrast(2);
    transition: all 1s ease;
    mix-blend-mode: color-dodge;
    opacity: 0;
    /* display: none; */
  }
  
  .pokemonCard:hover:after{
    opacity: 1;
    /* display: block; */
    transition: all 1s;
  }

  .pokemonCard.active:before,
  .pokemonCard:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.40) contrast(1.20);
    transition: all 1s ease-in-out;
  }






.pokemonCard .cardBannerTop {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgb(0,0,0,0.6) 70%, rgb(0,0,0,0));
}

.cardBannerTop .typeImage {
  width:auto;
  height: 30px;
  padding: 8px;
}

.pokemonCard .cardBanner {
  
}

.pokemonCard .cardBanner h2 {
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: large;
}

.pokemonCard .cardRating {
  padding-left: 8px;
  padding-bottom: 15px
}

.pokeInfo{
  position:absolute;
  bottom: 0;
  /* padding-left: 1vh; */
 /* background-color: antiquewhite; */
  opacity: 0.65;
  display: flex;
  text-align: center;
  background-image: linear-gradient(rgb(0,0,0,0) 0%, rgb(0,0,0,0.6) 20%);
  /* -webkit-text-stroke: 1px white; */
  color: white;
  /* font-style: oblique; */
  font-weight:800;
  /* padding-left: 20px; */
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;

}

/* .pokemonCard:hover .pokeInfo{
  bottom: 0;
  height: fit-content;
  transition: 0.5s ease;
} */

.pokeInfo ul {
  width: 50%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

/* .pokeInfo ul p {
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease-in-out;
  border: 1px solid rgb(0,0,0,0);
  border-radius: 5px;
  width: fit-content;
  padding: 3px;
  font-size: small;
  
} */

/* .pokeInfo ul p:hover {
  scale: 1.1;

  transition: 0s ease-out;
  border: 1px solid white;
  border-radius: 5px;

} */

.pokeInfo ul p .statName {
  font-weight: 300;
}


.pokiType{
  /* background-color: blue; */
}

.pokedex{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px solid black; */
  position: relative;
  background-color: rgb(255, 80, 80);
  overflow-y: auto;
  overflow: hidden;
}

.pokedex-list {
  /* border: 1px solid red; */
}

.entry-list{
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 1500px;
  /* padding-left: 100px; */
  /* border: 2px solid greenyellow */
}

::-webkit-scrollbar{
  background: transparent;
}

.pokedex-entry {
  display: flex;
  justify-content: space-between;
  border-radius: 55px;
  /* width: 20em; */
  padding: 50px 100px;

}

.pokemon-name {
  color: white;
  font-weight: bold;
  font-size: 5em;
}

.card-div{
  /* border: 1px solid blue; */
  margin: auto;
  scale: 400%;
}

.pokedex-card{

}
