*{
  cursor: none;
}

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --color1: rgb(0, 231, 255);
  --color2: rgb(255, 0, 231);
}

.handCardsPerspective {
  perspective: 1000px;
}

.rotateY50 {
  transform: rotateY('50deg');
}

.bgOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: default;
}

.pokemonCard {
  transition: box-shadow 1s ease;
}

.pokemonCard:after {
  transition: all 1s ease;
}

.pokemonCard:before {
  animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 0% 0%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.40) contrast(1.20);
    transition: all 1s ease-in-out;
}
  
.pokemonCard:hover{
  /*Add translation upwards to make card pop out of screen  */
  box-shadow: 
      /* -20px -20px 30px -25px var(--color1), 
      20px 20px 30px -25px var(--color2), 
      -7px -7px 10px -5px var(--color1), 
      7px 7px 10px -5px var(--color2),  */
      0 0 13px 4px rgba(255,255,255,0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }
  .pokemonCard:before,
  .pokemonCard:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all 1s ease;
  }
  
  
  .pokemonCard:after {
    /* opacity: 1; */
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
      url(https://assets.codepen.io/13471/holo.png), 
      linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1.5) contrast(2);
    transition: all 1s ease;
    mix-blend-mode: color-dodge;
    opacity: 0;
    /* display: none; */
  }
  
  .pokemonCard:hover:after{
    opacity: 1;
    /* display: block; */
    transition: all 1s;
  }

  .pokemonCard.active:before,
  .pokemonCard:hover:before {
    animation: none;
    background-image: linear-gradient(
      110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%
    );
    background-position: 50% 50%;
    background-size: 250% 250%;
    opacity: .88;
    filter: brightness(.40) contrast(1.20);
    transition: all 1s ease-in-out;
  }






.pokemonCard .cardBannerTop {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgb(0,0,0,0.6) 70%, rgb(0,0,0,0));
}

.cardBannerTop .typeImage {
  width:auto;
  height: 30px;
  padding: 8px;
}

.pokemonCard .cardBanner h2 {
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: large;
}

.pokemonCard .cardRating {
  padding-left: 8px;
  padding-bottom: 15px
}

.pokeInfo{
  position:absolute;
  bottom: 0;
  /* padding-left: 1vh; */
 /* background-color: antiquewhite; */
  opacity: 0.65;
  display: flex;
  text-align: center;
  background-image: linear-gradient(rgb(0,0,0,0) 0%, rgb(0,0,0,0.6) 20%);
  /* -webkit-text-stroke: 1px white; */
  color: white;
  /* font-style: oblique; */
  font-weight:800;
  /* padding-left: 20px; */
  width: 100%;
  opacity: 1;
  transition: 0.5s ease;

}

/* .pokemonCard:hover .pokeInfo{
  bottom: 0;
  height: fit-content;
  transition: 0.5s ease;
} */

.pokeInfo ul {
  width: 50%;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

/* .pokeInfo ul p {
  margin: 1px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease-in-out;
  border: 1px solid rgb(0,0,0,0);
  border-radius: 5px;
  width: fit-content;
  padding: 3px;
  font-size: small;
  
} */

/* .pokeInfo ul p:hover {
  scale: 1.1;

  transition: 0s ease-out;
  border: 1px solid white;
  border-radius: 5px;

} */

.pokeInfo ul p .statName {
  font-weight: 300;
}



.back{
background-color: aqua;
}

.overlay{
  /* position: absolute;
width: 100vw;
height:310vh;
padding-right: 50px;

background: #D9D9D9;
transform: matrix(00.94, 0.33, -0.34, 0.94, -1200, -430); */

background: url(PokemonTypeAsset/PokemonOverlay.png);

}

.navBar{
display: flexbox;
position:absolute;
z-index: 2;
padding: 15%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
z-index:10;
overflow: scroll;
padding-top: 55px;
padding-left: 100px;
font-style: oblique;
gap: 100px;
justify-content: center;
font-size: 20px;
color: antiquewhite;

width:100%;
padding-bottom: 15px;
text-align: center;
font-weight: bold;
margin-top: 75px;
overflow: hidden;

height: 8vh;



}
.okButton{
  border: 3px solid black ;
  background-color: aquamarine;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.okButton:hover{
  scale: 1.5;
  transform: 0.1s;
}
.helloWill{
  position: absolute;
  margin-left: 10px;
  /* padding-bottom: 30vh; */
  height: 8vh;
  /* left: 10px; */
  /* All the way to the left */
  left: 2275px;
  top: 90px;

  padding-top: 10px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  /* border: 2px solid #0b0b0baa;  
  border-radius: 10px;
  background-color: aliceblue;
  */
  justify-content: center;

  
  
}

.acc{
  padding-top: 25px;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold; 
  font-style:oblique;
  justify-content: space-between;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black
}

.home:hover, .register:hover, .pokedex:hover, .game:hover{

  color: yellow;

}


.home, .register, .pokedex, .game {
  justify-content: center;

 
  /* border: 5px solid #fffcfc;
  text-align: center;
  -webkit-text-stroke: 0.2px black;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  width: 100px;
  background: rgb(0,127,255);
background: linear-gradient(21deg, rgba(0,127,255,1) 0%, rgba(27,0,195,1) 84%); */


}

/* .home:hover, .register:hover, .pokedex:hover, .game:hover{
  color: rgb(248, 12, 0);
  text-decoration: underline;

} */


.home::after,.register::after, .pokedex::after, .game::after{
  content: "Choose a Destination";
  color: rgb(61, 61, 61);
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: yellow;
  transform-origin: bottom right 60px;
  transition: transform 0.25s ease-in;
}

.home:hover::after, .register:hover::after, .pokedex:hover::after, .game:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pokemonLogo{
  position:absolute;
  padding-top: 25vh;
  padding-left: 10vw;
  transform: scale(1);
  animation: pulse-black 5s infinite;
  z-index: 5;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    animation: ease-in-out
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0);
 
    filter: drop-shadow(5px 5px 5px black);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  }
}

@keyframes pulse-forward {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    animation: ease-in-out
  }
  
  50% {
    transform: scale(1.15);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0);
 
    filter: drop-shadow(5px 5px 5px black);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  }
}

.pulsingGameText {
  animation: pulse-forward 2s infinite;
}

#testing{

  /* width: 100vw;
  height: 100vh;
  padding: 1rem; */

  /* background-image: url(https://i.redd.it/0kkvgt5iqby61.gif); */




  /* background-image: url(https://images.alphacoders.com/114/1140436.jpg); */
  background-image: url(https://media1.giphy.com/media/Y3XoVhrbRfOkhnzFf9/giphy.gif?cid=6c09b952ca1flp10ica0tg2cxhk68p1gafgua8rawcn3q8vq&rid=giphy.gif&ct=g);
  /* background-image: url("https://gfycat.com/unripedeterminedchicken"); */
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  


}


@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}


.icon{
  border: 5px solid #000000;
  border-radius: 10px;
  background-color: aliceblue;
}

.wi{

  opacity: 60%;
 
}


.mainContainer{
  padding-top: 16vh;
  background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%);
}




.pokedex-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow-y: auto;
  overflow: hidden;
}

.entry-list{
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 1500px;
}

::-webkit-scrollbar{
  background: transparent;
}

.pokedex-entry {
  display: flex;
  justify-content: space-between;
  border-radius: 55px;
  padding: 50px 100px;
  transition: all 0.25s ease;

}

.pokedex-entry:hover{
  filter: brightness(110%);
  padding: 75px 120px;
  transition: all 0.25s ease;
}

.pokemon-name {
  color: white;
  font-weight: bold;
  font-size: 5em;
}

.card-div{
  margin: auto;
  scale: 400%;
}
.loginForm{

  margin-bottom: 10vh;
  color: rgb(0, 0, 0);
  
  font-weight:bold;
  list-style: none;

  margin-left: 20.5vw;
  margin-top: 7vh;
  margin-right: 20.5vw; 
}

.login_label{
  margin-left: 21vw;
  margin-top: 50px;
  
}

.login_label{
  padding-right: 600px;
}

.login_label{
  display: flex;
  flex-direction: column;
}
.iconAccount{
  margin-left: 24.5vw;
  margin-right: 24.5vw;
  border: 5px solid black;
  background-color: aliceblue;
  border-radius: 10px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.am{
  padding-bottom: 10vh;
}

.loginForm{

  justify-items: center;
  background: rgb(0,127,255);
background: linear-gradient(21deg, rgba(0,127,255,1) 0%, rgba(0,195,172,0.6096813725490196) 84%);
border-radius: 20px;
box-shadow: 5px 10px 10px #0404046f;
border: 3px solid black ;


}

/* .loginForm{
 background-image: url(https://i.pinimg.com/originals/ed/3a/b3/ed3ab3cfffa1b6c37992652775fa27fe.png);
 background-position: right;
 background-repeat: no-repeat;
} */

.okButton{
  font-size: 25px;
  margin-left: 26vw;

  margin-bottom: 10vh;
  margin-top: 100px;


}

.title{
  font-size: 100px;
margin-left: 16vw;
margin-right: 16vw;
}

.loginForm, .login_label{

  column-gap: 10px;
}

.error{
  color: red;
  margin-bottom: 5vh;
  font-size: x-large;
  margin-top: 0;
  margin-left: 20.5vw;
}

.endGameScreen{
  margin-top: 10vh;
  display: flex;
}
.endGameText{
  border: 3px solid white;
  display: relative;
  color: white
}

.cursor{
    mix-blend-mode: difference;
  -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
}
