.pokemonCard{
  border: 15px solid rgb(241,222,43);
  border-radius: 10px;
  position: relative;

  

  
  animation: holoSparkle 20s ease infinite;



}
.pokemonCard:hover{
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif);
}


.pokeInfo{
  position:absolute;
  bottom: 0;
  /* padding-left: 1vh; */
 /* background-color: antiquewhite; */
  opacity: 0.65;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0.5em;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: white;
  font-style: oblique;
  font-weight: bolder;
}

/* 
.pokiType{
  background-color: blue;
} */

.pokemonCard:hover{
  transform: scale(1.1);
  transition: 0.1s;

  width: 200px;
    height: 100px;
    border: 10px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);

    
}
@keyframes huerotate {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}